NETWORK="testnet"
# RPC_API_TESTNET="https://blockstream.info/testnet/api"
# RPC_API_MAINNET="https://blockstream.info/api"
RPC_API_TESTNET="https://mempool.space/testnet/api"
RPC_API_MAINNET="https://mempool.space/api"
MNEMONIC="abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon about"